---
import type { CollectionEntry } from 'astro:content'
import TagIcon from '../icon/TagIcon.astro'
import { BlogCategoryMapping, type BlogCategory } from '@/content/config'
interface Props {
  blogCategory: BlogCategory
  tags: CollectionEntry<'tags'>[]
}

const { blogCategory, tags } = Astro.props
---

<ul class="flex flex-wrap gap-2">
  <li>
    <a
      href={`/blog/category=${blogCategory}/`}
      class="rounded-full bg-white px-2 py-1 text-justify text-sm ring-1 ring-primary hover:bg-gray-200"
      >{BlogCategoryMapping[blogCategory]}</a
    >
  </li>

  {
    tags.map((tag) => (
      <li>
        <a
          href={`/blog/tags/${tag.id}/`}
          class="flex items-center gap-1 rounded-full bg-gray-100 p-1 text-justify text-sm hover:bg-gray-200"
        >
          <TagIcon tag={tag.data} size={18} />
          <p>{tag.data.name}</p>
        </a>
      </li>
    ))
  }
</ul>
