---
import type { ImageMetadata } from 'astro'
import Icon from '@/components/Icon.astro'
import Image from '@/components/Image.astro'
import LinkButton from '@/components/button/LinkButton.astro'

interface Props {
  title: string
  image?: ImageMetadata
  link?: { href: string; targetBlank?: boolean; text: string }
}

const { title, image, link } = Astro.props
---

<div class="flex flex-col gap-2.5">
  <h3 class="flex gap-2.5 text-2xl font-bold">
    <Icon name="timeline" alt="" class="w-8" />
    <span>{title}</span>
  </h3>
  {
    image && (
      <Image class="w-full" src={image} alt={`${title}の様子`} sizes="100%" />
    )
  }
  <div class="text-justify-ja">
    <slot />
  </div>
  {
    link && (
      <div class="flex justify-center">
        <LinkButton
          href={link.href}
          target={link.targetBlank ? '_blank' : undefined}
          variant="white"
        >
          {link.text}
        </LinkButton>
      </div>
    )
  }
</div>
