---
import BlogListSection from '@/components/blog/BlogListSection.astro'
import BlogTitle from '@/components/blog/BlogTitle.astro'
import AuthorAboutSection from '@/components/blog/author/AuthorAboutSection.astro'
import AuthorIcon from '@/components/blog/icon/AuthorIcon.astro'
import BlogLayout from '@/layouts/BlogLayout.astro'
import { unreachable } from '@/utils/unreachable'
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
  const authorEntries = await getCollection('authors')
  return authorEntries.map((author) => ({
    params: { slug: author.id },
    props: { author },
  }))
}

const { author } = Astro.props
const blogEntries = await getCollection('blogs')
const ogpPath =
  author.data.image.type === 'svg' &&
  author.data.image.name === 'default_user' &&
  author.data.github
    ? `https://github.com/${author.data.github}.png`
    : author.data.image.type === 'svg'
      ? `/authors/${author.id}/ogp.png`
      : author.data.image.type === 'external-url'
        ? author.data.image.url
        : unreachable(author.data.image)

const isShowAboutSection = author.data.description || author.data.github
---

<BlogLayout
  title={author.data.name}
  description={author.data.description ??
    `${author.data.name}さんのプロフィール`}
  image={ogpPath}
  summarySize={ogpPath === undefined ? undefined : 'summary'}
>
  <BlogTitle title={author.data.name} background="white">
    <Fragment slot="icon">
      <AuthorIcon {...author.data} size={93} />
    </Fragment>
  </BlogTitle>
  {isShowAboutSection && <AuthorAboutSection author={author.data} />}
  <main class="flex flex-col h-full">
    <BlogListSection
      title={`${author.data.name} さんの投稿した記事`}
      blogs={blogEntries.filter((b) => b.data.author.id === author.id)}
    />
  </main>
</BlogLayout>
