---
import BlogListSection from '@/components/blog/BlogListSection.astro'
import BlogTitle from '@/components/blog/BlogTitle.astro'
import AuthorAboutSection from '@/components/blog/author/AuthorAboutSection.astro'
import AuthorIcon from '@/components/blog/icon/AuthorIcon.astro'
import { getAuthorIcon } from '@/components/blog/icon/getAuthorIcon'
import BlogLayout from '@/layouts/BlogLayout.astro'
import { unreachable } from '@/utils/unreachable'
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
  const authorEntries = await getCollection('authors')
  return authorEntries.map((author) => ({
    params: { slug: author.id },
    props: { author },
  }))
}

const { author } = Astro.props
const blogEntries = await getCollection('blogs')
const getOgImagePath = async (): Promise<string> => {
  const icon = await getAuthorIcon(author)
  switch (icon.type) {
    case 'local-svg':
      return `/blog/authors/${author.id}/ogp.png`
    case 'local-png':
      return icon.url
    case 'external-url':
      return icon.url
    case 'default':
      return `/blog/authors/${author.id}/ogp.png`
    default:
      return unreachable(icon)
  }
}

const isShowAboutSection = author.data.description || author.data.github
---

<BlogLayout
  title={author.data.name}
  description={author.data.description ??
    `${author.data.name}さんのプロフィール`}
  image={await getOgImagePath()}
  summarySize="summary"
>
  <BlogTitle title={author.data.name} background="white">
    <Fragment slot="icon">
      <AuthorIcon author={author} size={93} />
    </Fragment>
  </BlogTitle>
  {isShowAboutSection && <AuthorAboutSection author={author.data} />}
  <main class="flex flex-col h-full">
    <BlogListSection
      title={`${author.data.name} さんの投稿した記事`}
      blogs={blogEntries.filter((b) => b.data.author.id === author.id)}
    />
  </main>
</BlogLayout>
