---
import { getEntries, type CollectionEntry, getEntry } from 'astro:content'
import TagSmallList from './tag/TagSmallList.astro'
import AuthorIcon from './icon/AuthorIcon.astro'
import { formatDate } from '@/utils/format-date'
import '@/styles/remark-link-card.css'
interface Props {
  blog: CollectionEntry<'blogs'>
}

const { blog } = Astro.props
const { data: blogMeta } = (await getEntry({
  collection: 'blog-metas',
  id: blog.slug,
})) ?? { data: { postDate: new Date(), updateDate: undefined } }
const tags = await getEntries(blog.data.tags)
const author = await getEntry(blog.data.author)
const { Content } = await blog.render()
---

<div class="flex flex-col items-center py-4">
  <h1 class="p-3 text-center text-3xl font-bold md:text-4xl">
    {blog.data.title}
  </h1>
  <article
    class="my-10 w-full max-w-padded-container bg-white p-4 md:rounded-2xl"
  >
    <div class="mb-1 p-1 text-lg">
      <a
        class="flex items-center gap-2 hover:underline"
        href={`/blog/authors/${author.id}`}
        ><AuthorIcon {...author.data} size={28} />{author.data.name}</a
      >
    </div>
    <TagSmallList tags={tags} />
    <div class="flex gap-3 p-2 text-sm text-gray-700">
      {
        blogMeta.updateDate && (
          <div>
            最終更新日：
            <time datetime={blogMeta.updateDate.toISOString()}>
              {formatDate(blogMeta.updateDate)}
            </time>
          </div>
        )
      }
      <div>
        投稿日：<time datetime={blogMeta.postDate.toISOString()}
          >{formatDate(blogMeta.postDate)}</time
        >
      </div>
    </div>
    <div class="prose w-full max-w-none break-words pt-6">
      <Content />
    </div>
  </article>
</div>

<style is:global>
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .prose code:not(pre > *) {
      @apply rounded bg-gray-200 px-1 font-normal;
    }
    .prose code:not(pre > *)::after {
      @apply content-none;
    }
    .prose code:not(pre > *)::before {
      @apply content-none;
    }
    .prose
      > *:where(:not(h1, h2, h3, h4, h5, h6, pre, iframe, img, svg, table)) {
      @apply mx-4;
    }
    .prose > *:where(h1, h2) {
      @apply border-b-2;
    }

    .prose > table {
      @apply block w-full overflow-x-auto whitespace-nowrap px-2;
    }
  }
</style>
