---
/**
 * /assets/icons にあるアイコンを単色で表示する。
 *
 * 色には現在の文字色（`currentColor`）が使われる。これはCSSの`color`で変更できる。
 *
 * CSSで幅または高さを指定しないと、大きさが0pxとなり表示されない。
 * また、この要素は`<img>`と同様にデフォルトで`display: inline-block`となっている。要素の下に意図せず余白が生じる場合は`vertical-align: top`で調整できる。cf. https://stackoverflow.com/q/27536428
 */

import type { HTMLAttributes } from 'astro/types'

type Props = Omit<HTMLAttributes<'span'>, 'name' | 'alt' | 'style'> & {
  // `src/assets/icons`にあるSVGのファイル名（拡張子は含まない）
  name: string

  // 代替テキスト（`<img>`の`alt`属性と同じ）
  alt: string

  style?: Exclude<HTMLAttributes<'span'>['style'], string>
}

const { name, alt, ...attrs } = Astro.props

const image = (await import(`../../assets/icons/${name}.svg`)).default
---

<span
  role="img"
  aria-label={alt}
  class:list={[
    'inline-block bg-current [mask-repeat:no-repeat] [mask-position:center] [mask-size:contain]',
    attrs.class,
  ]}
  style={{
    '-webkit-mask-image': `url(${JSON.stringify(image.src)})`,
    maskImage: `url(${JSON.stringify(image.src)})`,
    aspectRatio: `${image.width}/${image.height}`,
    ...attrs.style,
  }}
  {...attrs}></span>
