---
import BaseLayout from './BaseLayout.astro'
import Header from '@/components/layout/nav/Header.astro'
import Footer from '@/components/layout/Footer.astro'

export interface Props {
  title: string
  description: string
  summarySize?: 'summary' | 'summary_large_image'
  image?: string
}

const {
  title,
  description,
  summarySize = 'summary_large_image',
  image = '/ogp.png',
} = Astro.props
const ogImageUrl = new URL(image, Astro.site).toString()
---

<BaseLayout title={`${title} - Blog`} description={description}>
  <Fragment slot="header">
    <meta
      property="og:title"
      content={`${title} | OUCC - 大阪大学コンピュータクラブ`}
    />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />
    <meta name="twitter:card" content={summarySize} />
  </Fragment>
  <Header
    showJoinLink={false}
    isSticky={false}
    headerTitle="BLOG"
    rootPath="/blog"
  />
  <div class="bg-dot bg-dot-secondary flex-grow">
    <slot />
  </div>
  <Footer />
</BaseLayout>
