---
import type {
  BreadcrumbList,
  Organization,
  WebSite,
  WithContext,
} from 'schema-dts'
import GoogleAnalytics from '@/features/layout/components/GoogleAnalytics.astro'
import Header from '@/features/layout/components/nav/Header.astro'
import Footer from '@/features/layout/components/Footer.astro'
import StructuredData from '@/features/layout/components/StructuredData.astro'

export interface Props {
  title?: string
  description: string
  showJoinLink?: boolean
}

const { title, description, showJoinLink = false } = Astro.props

if (Astro.site === undefined) {
  throw new Error(
    'ウェブサイトのURLが設定されていません。astro.config.tsで指定してください。',
  )
}

const siteUrl = Astro.site.toString()
const canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString()
const faviconUrl = new URL('/favicon.webp', Astro.site).toString()
const ogImageUrl = new URL('/ogp.png', Astro.site).toString()

const siteName = 'OUCC - 大阪大学コンピュータクラブ'
const siteNameShort = 'OUCC'
const composedTitle = title === undefined ? siteName : `${title} | ${siteName}`
---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns/website#">
  <head>
    <GoogleAnalytics />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:title" content={composedTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@OUCC" />
    <meta name="twitter:creator" content="@OUCC" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" href="/favicon.webp" />
    <title>{composedTitle}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Header showJoinLink={showJoinLink} />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
    <StructuredData
      data={{
        '@context': 'https://schema.org',
        '@type': 'WebSite',
        name: siteName,
        alternateName: siteNameShort,
        url: siteUrl,
      } satisfies WithContext<WebSite>}
    />
    <StructuredData
      data={{
        '@context': 'https://schema.org',
        '@type': 'Organization',
        logo: faviconUrl,
        url: siteUrl,
      } satisfies WithContext<Organization>}
    />
    {
      title !== undefined && (
        <StructuredData
          data={
            {
              '@context': 'https://schema.org',
              '@type': 'BreadcrumbList',
              itemListElement: [
                {
                  '@type': 'ListItem',
                  position: 1,
                  name: title,
                  item: canonicalUrl,
                },
              ],
            } satisfies WithContext<BreadcrumbList>
          }
        />
      )
    }
    <style is:global>
      html {
        /* 参考: https://ics.media/entry/200317/ */
        font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
          'Hiragino Sans', Meiryo, sans-serif;
      }
    </style>
  </body>
</html>
